<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Slabo" rel="stylesheet">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<title>Project: Employee Review</title>
</head>

<body>

	<div class="logo">
		<img src=#>
	</div>

	<div class="nav nav-logged">
		<ul>
			<li>Home</li>
			<li>Jobs</li>
			<li>Co-Workers</li>
			<li>Messaging</li>
			<li>Notifications</li>
			<li><img src="Dashboard"></li>
			<li></li>
		</ul>
		<div class="login logged-in">
			<p>Welcome, Autif!</p>
		</div>
	</div>

	<div class="search search-page">
		<div class="search-field">
			<input id="query" class="input-search" type="text" name="directory" placeholder="Search for an employee or business" required>
			<select class="user-type">
				<option>Employee</option>
				<option>Employer</option>		
			</select>
			<button type="submit">Submit</button>
		</div>

	</div>

	<ul id="user-list">
	
	</ul>

	<table>
		<tr class="table-head-flex">
			<td><strong>Employee</strong></td>
			<td><strong>Business</strong></td>
			<td><strong>Position</strong></td>
			<td><strong>Duration</strong></td>
			<td><strong>Review</strong></td>
			<td><strong>Last Active</strong></td>
		</tr>
		<tr class="table-data-flex">
			<td>Bob Smith</td>
			<td>Taco Bell</td>
			<td>Cashier</td>
			<td>7 mos</td>
			<td>*****</td>
			<td>2 days ago</td>
		</tr>


	</table>


</body>
<script type="text/javascript" src="/controllers/client.functions.controllers.js"></script>
<script type="text/javascript" src="/controllers/client.search.page.js"></script>
