<head>
	<link rel="stylesheet" type="text/css" href="../styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Slabo" rel="stylesheet">
	<title>Project: Employee Review</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"> 
    <integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	
</head>

<body>

	<div class="logo">
		<img src=#>
	</div>

	<div class="nav nav-logged">
		<ul>
			<li>Home</li>
			<li>Jobs</li>
			<li>Co-Workers</li>
			<li>Messaging</li>
			<li>Notifications</li>
			<li><img src=""></li>
			<li></li>
		</ul>
		<div class="login logged-in">
			<p>Welcome, Autif!</p>
		</div>
	</div>

	<div class="employee-flex">
		<div class="employee-intro">
			<div>
				<img src="" alt="">
			</div>
			<div>
				<p>Autif Kamal</p>
			</div>
		</div>
		<div class="employee-overview">
			<div class="employee-rating">
				<p>*****</p>
				<p>4.8</p>
			</div>
			<div class="employee-business">
				<p>Cptn Web</p>
			</div>
			<div class="employee-position">
				<p>Web Developer</p>
			</div>
		</div>
		<div class="employee-contact">
			<div class="job-contact">
				<p class="interview">Invite to Interview</p>
				<p class="offer">Make Offer</p>
			</div>
			<div class="employee-phone">
				<p>(949) 690 - 0046</p>

			</div>
			<div class="employee-email">
				<p>kautif@gmail.com</p>

			</div>
		</div>
	</div>

	<div class="review">
		<table class="reviews-stats table table-sm table-bordered">
			<tr>
				<td><strong>Metrics</strong></td>
				<td><strong>Reviews</strong></td>
				<td><strong>Description</strong></td>
			</tr>
			<tr>
				<td>Effectiveness</td>
				<td>*****</td>
				<td>He's effective</td>
			</tr>

			<tr>
				<td>Speed</td>
				<td>*****</td>
				<td>He's fast</td>
			</tr>

			<tr>
				<td>Communication</td>
				<td>*****</td>
				<td>He communicates</td>
			</tr>

			<tr>
				<td>Organization</td>
				<td>*****</td>
				<td>He's organized</td>
			</tr>

			<tr>
				<td>Reliability</td>
				<td>*****</td>
				<td>He's reliable</td>
			</tr>

		</table>

		<div class="text-review">
			<h2>Overall Review</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel vestibulum justo. Aliquam eget accumsan erat. Integer gravida euismod faucibus. Maecenas vehicula auctor rutrum. Etiam eu dolor sed arcu faucibus pretium vitae at nibh. Quisque a tempus elit. Ut egestas tellus nec dolor gravida, nec sagittis libero molestie. Maecenas a lectus vitae odio tincidunt aliquet. Vivamus porta mi ante, ut volutpat enim tempor ac. Etiam consequat mollis dui.</p>
		</div>

	</div>

</body>