<!doctype html>
<html lang="en">
  <head>
    <title>Employee Reviews</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"> 
    <integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


    <div class="container">
      <div class="row align-item-start">
        <div class="col-3">
          <img src="img-150x150.png" class="img-thumbnail">
        </div>
        <div class="col-6">
          contact information
        </div>
      </div>

      <div class="row">
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Metric</th>
              <th scope="col">Review</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Effectiveness</td>
              <td>Otto</td>
              <td>Amazingly awesome but doesn't do much</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Speed</td>
              <td>Thornton</td>
              <td>Did things. Mehh</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Communication</td>
              <td>the Bird</td>
              <td>Aksjd walkjf erkjsd f lkjsdlwekrj </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </body>
</html>
