<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Slabo" rel="stylesheet">
	<title>Project: Employee Review</title>
</head>

<body>

	<div class="logo">
		<img src=#>
	</div>

	<div class="nav">
		<ul>
			<li>Home</li>
			<li>Jobs</li>
			<li>Co-Workers</li>
			<li>Messaging</li>
			<li>Notifications</li>
			<li><img src="Dashboard"></li>
			<li></li>
		</ul>
		<div class="login">
			<span>Login:</span><input type="text" name="login">
			<span class="pw">Password:</span> <input type="text" name="password"><br>
			Not a member? Sign up!
		</div>
	</div>

	

	<div class="demo">
		<h1>Demo Video</h1>

	</div>

	<div class="search">
		<div class="search-field">
			<input class="input-search" type="text" name="search" placeholder="Search for an employee or business">
			<select class="select-industry">
				<option>Food</option>
				<option>Clothing</option>
				<option>Landscaping</option>
				<option>Sales</option>
				<option>IT</option>
			</select>
			<button type="submit">Submit</button>
		</div>

		<div class="industry">

		</div>

	</div>

</body>